* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/ep_naturalwhite.png");
}

.navbar {
	width: 100%;
}
.navbar-header {
	background-color: #4aaaa5;
	margin-top: 10px;
}

.container-fluid {
	margin-left: 50px;
}

h1 {
	color: #fff;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
	padding-bottom: 20px;

}

.nav {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777;
    margin-top: 20px;
    font-size: 18px;
}

#mainContent {
	background-color: #fff;
	width: 650px;
	margin-left: 80px;
	margin-top: 20px;
}

.page-header {
	margin-top: 20px;
}

h2 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
}

#portfolioImage {
	width: 30%;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

p {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.9;
	color: #777;
	padding-left: 15px;
	padding-right: 15px;
}

#sidebar {
	width: 270px;
	background-color: #fff;
	margin-left: 60px;
	margin-top: 20px;
}

h3 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
	text-align: center;
}

.connect {
	width: 70px;
}

#connectLinks {
	margin-left: 10px;
	margin-bottom: 10px;
}

#copyright {
	background-color: #666;
	border-top: solid;
	border-color: #4aaaa5;
	border-top-width: 5px;
	margin-top: 40px;
}

footer {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #ccc;
	padding: 20px;
	text-align: center;

}

form {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

label {
	padding-top: 10px;
}

input {
	width: 100%;
}

#message {
	height: 250px;
}

button {
	background-color: #4aaaa5;
	color: #fff;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	border: none;
	width: 90px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 18px;
	padding-right: 18px;
}

#portfolioImage1,#portfolioImage2, #portfolioImage3, #portfolioImage4, #portfolioImage5 {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

#hangman, #rpgGame, #triviaGame, #rutgers, #rock {
	background-color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #fff;
	padding: 15px;
	font-size: 20px;
	position: absolute;
	width: 295px;
    bottom: 25px;
    text-align: center; 
}




